.first{
    
    font-weight: bold;
    font-size: large; 
    color: antiquewhite;
    font-display: center; 
    background-color: rgb(105, 168, 223);
    background-image: url(https://www.hdwallpapers.in/download/backside_of_cute_little_girl_is_walking_on_path_in_nature_background_hd_cute-HD.jpg);
    background-size: cover;
   
}